on post-fs-data
    # Create NOKIA mcfg related dirs
    mkdir /data/vendor/fih_atl 2770 system root
    mkdir /data/vendor/fih_mcfg 0775 system root

    # RC for fih_atl
    mkdir /data/vendor/fih_atl/modem_config 2770 system root
    write /data/vendor/radio/atl_complete 0
    chown system radio /data/vendor/radio/atl_complete
    chmod 0660 /data/vendor/radio/atl_complete

on property:persist.vendor.radio.nokia_fih_mcfg=1
    # RC for fih_mcfg
    write /data/vendor/fih_mcfg/fih_model.txt ${ro.build.display.id}
    chown system vendor_rfs /data/vendor/fih_mcfg/fih_model.txt
    chmod 0664 /data/vendor/fih_mcfg/fih_model.txt
    write /data/vendor/fih_mcfg/mcfg_debug.log ${ro.vendor.build.date}
    chown system vendor_rfs /data/vendor/fih_mcfg/mcfg_debug.log
    chmod 0666 /data/vendor/fih_mcfg/mcfg_debug.log
    write /data/vendor/fih_mcfg/rfs_complete 0
    chown system vendor_rfs /data/vendor/fih_mcfg/rfs_complete
    chmod 0666 /data/vendor/fih_mcfg/rfs_complete
    chown system vendor_rfs /data/vendor/fih_mcfg

# Modem config
service fih_modemconfig /vendor/bin/init.fih.modemconfig.sh
    class late_start
    user root
    group root system radio vendor_rfs
    oneshot
